@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.btn .play {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 15px 25px #f42e7966;
  background: #f42e79;
  transition: 0.5s;
}
.btn.active .play {
  box-shadow: 0 0 0 150vh #f42e79;
}
.btn .play::before {
  content: "";
  position: absolute;
  border: 25px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 0px solid transparent;
  transform: translateX(5px);
}
.btn p {
  color: #888;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.clip {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.clip.active {
  transform: translate(-50%, -50%) scale(1);
  transition-delay: 0.5s;
}
.clip iframe {
  max-width: 900px;
  outline: none;
  border: 10px solid #fff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.clip .close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* make it responsive */
@media (max-width: 991px) {
  .clip iframe {
    max-width: 90%;
  }
}